@use "sass:math";

@use "styles/sass/global" as *;

$header-height: 64px;
$logo-height: 48px;

@mixin backdrop-blur($amount: 2px) {
  backdrop-filter: blur($amount);
}

html {
  background-color: $bulma-background;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

header {
  height: $header-height;
  background-color: $bulma-navbar-background-color;

  flex-shrink: 0;

  box-shadow: 0 0 24px $colors-shadow;
}

main {
  scroll-behavior: smooth;

  overflow-y: scroll;
}

// Makes the background sketch appear at the bottom of everything else
#background {
  position: fixed;
  width: 100%;
  height: 100%;

  z-index: -1;
}

#logo {
  height: $logo-height;
  border-radius: $bulma-box-radius;
  padding: 0;
  margin-left: 10px;
}

#first-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$header-height});
}

#second-page {
  height: 100vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: $bulma-background;
}

#introduction {
  @include backdrop-blur(3px);

  background-color: rgba($bulma-background, 0.75);
  border-radius: $bulma-box-radius;
  border: 1px solid $bulma-purple;

  padding: 30px;

  overflow: auto;

  // Its 50% but not less than 600px unless it's smaller than the screen
  width: min(max(50%, 600px), 100%);
  height: max(50%, 300px);

  box-shadow: 0 0 24px $colors-shadow;

  h1 {
    font-size: 3em;

    text-align: center;
  }
}

#next-page-button {
  @include box;
  @include backdrop-blur;

  width: 7%;
  height: 50px;

  background-color: rgba($bulma-purple, 0.5);

  position: absolute;
  bottom: 1vh;
  left: 46.5%;

  text-align: center;

  cursor: pointer;

  transition: 200ms;
  &:hover {
    background-color: rgba($bulma-purple, 1);
    box-shadow: 0 0 5px $bulma-purple;
    color: black;
  }

  span {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
  }
}

.summary {
  font-size: 1.5em;

  margin-left: max(15%, 15px);
  margin-right: max(15%, 15px);

  text-align: justify;
}

.navbar {
  background-color: transparent;
  height: 100%;

  &-brand {
    height: 100%;
    align-items: center;
  }

  &-menu {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    // When the dropdown menu is visible
    &.is-active {
      padding-bottom: 25px;
      position: absolute;
      right: 0;
      width: 300px;
    }

    .navbar-end {
      .navbar-item.button {
        height: 50%;
        top: 25%;
        margin-left: 25px;
        margin-right: 25px;
      }
    }
  }
}
