@use "../styles/sass/global" as *;

html {
  background-color: $bulma-background;
  overflow: auto;
  scroll-behavior: smooth;
}

header {
  background-color: $bulma-code-background;
  width: 100%;
  height: 100px;
  position: absolute;

  // Only the bottom border
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  box-shadow: 0 0 24px $colors-shadow;
}

li {
  list-style-type: none;
}

// Makes the background sketch appear at the bottom of everything else
#background {
  position: fixed;
  width: 100%;
  height: 100%;

  z-index: -1;
}

#logo {
  height: 75px;
  margin: auto;
  margin-left: 12.5px;

  position: absolute;
  top: 0;
  bottom: 0;

  border-radius: $bulma-box-radius;
}

#navigation {
  height: fit-content;
  margin: auto;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 12.5px;

  a:not(:hover) {
    // Não sei o motivo de precisar especificar isso agora
    color: $bulma-text;
  }
}

#first-page {
  height: 100vh;
  width: 100%;
  // background-color: red;
}

#second-page {
  height: 100vh;
  width: 100%;
  background-color: $bulma-background;
}

#introduction {
  background-color: rgba($bulma-background, 0.9);
  border-radius: $bulma-box-radius;
  border: 1px solid $bulma-purple;

  padding: 30px;

  position: relative;
  top: 25%;
  margin: auto;

  width: max(50%, 600px);
  height: max(50%, 300px);

  overflow: auto;

  box-shadow: 0 0 24px $colors-shadow;
  backdrop-filter: blur(2px);
}

#introduction h1 {
  font-size: 3em;

  text-align: center;
}

#next-page-button {
  width: max(7%, 50px);
  height: 50px;
  padding-top: 10px;

  background-color: rgba($bulma-purple, 0.5);
  border-radius: $bulma-box-radius;

  position: absolute;
  bottom: 0;
  left: 46.5%;

  text-align: center;

  cursor: pointer;
}

.summary {
  font-size: 1.5em;

  margin-left: max(15%, 15px);
  margin-right: max(15%, 15px);

  text-align: justify;
}

.nav-item {
  @include box($padding: "small");
  border: 1px solid $bulma-purple;

  height: 60px;
  line-height: 40px;

  float: right;
  min-width: 100px;

  margin: 15px;

  text-align: center;
  font-size: larger;

  &-main {
    background-color: $bulma-purple;
  }
}
