# codinStruct-content files after conversion to HTML
codinStruct-content-Converted

# All css files with exceptions
*.css.map
*.css
!frontend/styles/css/**/*.css
!frontend/vendor/**/*.css

# Other
jsconfig.json
.vscode
