[submodule "md2html"]
	path = md2html
	url = https://github.com/codinStruct/md2html
[submodule "codinStruct-content"]
	path = codinStruct-content
	url = https://github.com/codinStruct/codinStruct-content/
