[submodule "Projeto-MDtoHTML"]
	path = Projeto-MDtoHTML
	url = https://github.com/DaviAMSilva/Projeto-MDtoHTML/
[submodule "codinStruct-content"]
	path = codinStruct-content
	url = https://github.com/codinStruct/codinStruct-content/
