# codinStruct-content files after conversion to HTML
frontend/content

# All css files with exceptions
*.css.map
*.css
!frontend/styles/css/**/*.css
!frontend/vendor/**/*.css

# Webpack
frontend/vendor/webpack

# Other
jsconfig.json
.vscode
node_modules