$purple: #6b4f8f;
$purple-light: #9d7ec2; // Contrasta com rose-pine-moon-bg (https://learnui.design/tools/accessible-color-generator.html)
$text-light: #c9d1d9;
$rose-pine-bg: #191724; // Copiado do tema Rosé Pine
$rose-pine-moon-bg: #232136; // Copiado do tema Rosé Pine Moon
$shadow: #0008;
