@mixin mobile {
  @media screen and (max-aspect-ratio: 1/1), screen and (max-width: 512px) {
    @content;
  }
}

@mixin desktop {
  @media screen {
    @media not all and (max-aspect-ratio: 1/1) {
      @media not all and (max-width: 512px) {
        @content;
      }
    }
  }
}

@mixin print {
  @media print {
    @content;
  }
}
