$roxo: #6b4f8f;
$texto-claro: rgb(201, 209, 217);
$rose-pine-bg: rgb(25, 23, 36); // Copiado do tema Rosé Pine
$rose-pine-moon-bg: rgb(35, 33, 54); // Copiado do tema Rosé Pine Moon
$sombra-suave: #0008